@import url("http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic,700italic|Vidaloka");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0; }

/* GENERAL */
* {
  transition: height, width, background .5s ease; }

body {
  font-size: 100%;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.5rem; }

h1, h3 {
  text-transform: uppercase; }

h1 {
  font-size: 2.4rem;
  font-weight: 400;
  color: white;
  letter-spacing: -0.07em; }

h2 {
  font-family: "Vidaloka", serif;
  font-size: 1.5rem;
  transform: skew(-15deg);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: .5rem; }

h3 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }

p {
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.125rem; }

small {
  font-size: 0.75em; }

section, header, footer {
  padding: 1.5em; }

footer {
  text-align: center; }

ul {
  text-align: center;
  text-transform: uppercase; }
  ul li {
    margin-bottom: .4em; }

.hide-mobile {
  display: none; }

.show-mobile {
  display: block; }

header, .when, .registry, .stay, .rsvp, input[type="submit"], footer {
  color: white; }
  header a, .when a, .registry a, .stay a, .rsvp a, input[type="submit"] a, footer a {
    color: white;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 3px solid white; }

header, .when, .registry, .stay, input[type="submit"] {
  background: #FC584F; }

.stay, .rsvp, footer {
  background: #281624; }

.hero {
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 3px black;
  background: url("/img/hero-cart.jpg") no-repeat;
  background-size: 275%;
  background-position: 52% -60px;
  height: 240px; }
  .hero .amp {
    font-family: "Vidaloka", serif; }
  .hero .subhead {
    margin-top: 1em;
    display: block;
    font-size: .55em;
    letter-spacing: 0; }
  .hero .wrap {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 3em; }

.get-there {
  background: #60fffe; }
  .get-there a {
    font-weight: 700;
    color: #FC584F;
    text-decoration: none;
    border-bottom: 3px solid #FC584F; }
    .get-there a:active {
      color: #af0c03;
      border-bottom: 3px solid #af0c03; }

iframe {
  display: block;
  margin: .5rem auto 1rem;
  height: 360px;
  width: 100%;
  border: 3px solid white; }

.rsvp-splash {
  background: url("/img/wall-splash.jpg") no-repeat;
  background-size: 1500px;
  background-position: top center; }

fieldset {
  margin: 1rem 0; }

input[type="text"], textarea {
  height: 2.5rem;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  padding: .5rem; }

textarea {
  height: 4.5rem;
  padding: .5rem; }

input[type="submit"] {
  width: 75%;
  height: 2rem;
  padding: .5rem;
  display: block;
  margin: auto;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  border: 2px solid white; }

@media screen and (min-width: 350px) {
  .hero {
    height: 290px; }
    .hero h1 {
      font-size: 2.7rem; } }
@media screen and (min-width: 450px) {
  .hero {
    height: 350px; }
    .hero h1 {
      font-size: 3.25rem; } }
@media screen and (min-width: 480px) {
  nav a, .stay a, .registry a {
    border: 3px solid transparent;
    transition: all 200ms ease;
    position: relative; }
    nav a:before, .stay a:before, .registry a:before {
      transition: all 200ms ease;
      content: "";
      position: absolute;
      width: 100%;
      border-bottom: 3px solid white;
      left: 0;
      bottom: 0;
      transform: rotateY(90deg); }
    nav a:hover:before, .stay a:hover:before, .registry a:hover:before {
      transform: rotateY(0); }

  .get-there a {
    border: 3px solid transparent;
    transition: all 200ms ease;
    position: relative; }
    .get-there a:before {
      transition: all 200ms ease;
      content: "";
      position: absolute;
      width: 100%;
      border-bottom: 3px solid #FC584F;
      left: 0;
      bottom: 0;
      transform: rotateY(90deg); }
    .get-there a:hover:before {
      transform: rotateY(0); }
    .get-there a:active:before {
      color: #af0c03;
      border-bottom: 3px solid #af0c03; }

  .hero {
    height: 375px;
    background-size: 150%;
    background-position: 52% -30px; }
    .hero h1 {
      font-size: 3.75rem; }

  .when .wrap, .stay .wrap, .registry .wrap {
    max-width: 600px;
    margin: auto; }

  li {
    display: inline-block;
    margin: 0 .8em .4em; } }
@media screen and (min-width: 600px) {
  .hero {
    background-size: 125%;
    height: 375px; }
    .hero h1 {
      font-size: 4.5rem; }

  ul {
    width: 500px;
    margin: auto; }

  input[type="submit"] {
    max-width: 560px;
    padding: 1rem;
    padding-bottom: 1.75rem; } }
@media screen and (min-width: 768px) {
  .hero {
    height: 460px;
    background-size: 100%;
    background-position: 52% 12%; }
    .hero h1 {
      font-size: 5rem; }
    .hero .wrap {
      margin-top: 20%; }

  .wrap {
    max-width: 960px;
    margin: auto; }

  ul {
    width: 100%; }
    ul li {
      margin: 0 .8em 0; }

  nav a {
    border: 0;
    padding: 0; }

  header {
    display: table;
    width: 100%; }

  .directions, iframe {
    display: inline-block; }

  iframe {
    width: 37%;
    height: 500px;
    vertical-align: top; }

  .directions {
    width: 62%;
    padding: .5% 0 0 3%; }

  .show-mobile {
    display: none; }

  .hide-mobile {
    display: block; }

  .rsvp {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 840px;
    margin: auto; }

  .rsvp-splash {
    background-color: #281624;
    height: 1100px; }

  input[type="submit"] {
    margin-bottom: -47px; } }
@media screen and (min-width: 1500px) {
  .rsvp-splash {
    background-size: 100%;
    background-position: 30%; } }
