@import url("http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic,700italic|Vidaloka");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0; }

/* GENERAL */
* {
  transition: all .5s ease; }

html {
  font-size: 100%; }

body {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.5rem; }

p {
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.125rem; }

small {
  font-size: 0.75em; }

section, header {
  padding: 1.25em; }

ul {
  text-align: center;
  text-transform: uppercase; }
  ul li {
    margin-bottom: .4em; }

.hide-mobile {
  display: none; }

.show-mobile {
  display: block; }

/* SPECIFIC */
header, .when, .registry, .stay, .rsvp, button {
  color: white; }
  header a, .when a, .registry a, .stay a, .rsvp a, button a {
    color: white;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 3px solid white; }

header, .when, .registry, .stay, button {
  background: #FC584F; }

.stay, .rsvp {
  background: #281624; }

.hero {
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 3px black;
  background: url("/img/hero-cart.jpg") no-repeat;
  background-size: 275%;
  background-position: 47% 15%;
  height: 260px; }
  .hero .amp {
    font-family: "Vidaloka", serif; }
  .hero .subhead {
    margin-top: 1em;
    display: block;
    font-size: .55em;
    letter-spacing: 0; }
  .hero .wrap {
    position: absolute;
    top: 60%;
    right: 50%;
    margin-right: -152px; }

.get-there {
  background: #2DFFFE; }

h1, h3 {
  text-transform: uppercase; }

h1 {
  font-size: 2.4rem;
  font-weight: 400;
  color: white;
  letter-spacing: -2.5px; }

h2 {
  font-family: "Vidaloka", serif;
  font-size: 1.5rem;
  transform: skew(-15deg);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: .5rem; }

h3 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }

iframe {
  display: block;
  margin: .5rem auto 1rem;
  height: 360px;
  width: 100%; }

fieldset {
  margin: 1rem 0; }

input[type="text"], textarea {
  height: 2.5rem;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  padding: .5rem; }

textarea {
  height: 4.5rem;
  padding: .5rem; }

button {
  width: 75%;
  height: 2rem;
  padding: .5rem;
  display: block;
  margin: auto;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  border: 2px solid white; }

.rsvp-hero {
  background: url("/img/hero-wall.jpg") no-repeat;
  background-size: 1500px;
  background-position: top center; }

@media screen and (min-width: 350px) {
  .hero {
    height: 290px; }
    .hero h1 {
      font-size: 2.7rem; }
    .hero .wrap {
      margin-right: -171px; } }
@media screen and (min-width: 450px) {
  .hero {
    height: 350px; }
    .hero h1 {
      font-size: 3.25rem; }
    .hero .wrap {
      margin-right: -206px; } }
@media screen and (min-width: 525px) {
  .hero {
    height: 375px; }
    .hero h1 {
      font-size: 3.75rem; }
    .hero .wrap {
      margin-right: -222px; }

  .when .wrap {
    max-width: 600px;
    margin: auto; } }
@media screen and (min-width: 650px) {
  .hero {
    height: 410px; }
    .hero h1 {
      font-size: 4.5rem; }
    .hero .wrap {
      margin-right: -285px; }

  ul {
    width: 500px;
    margin: auto; }

  li {
    display: inline-block;
    margin: 10px; }

  .directions, iframe {
    display: inline-block; }

  iframe {
    width: 37%;
    height: 500px;
    vertical-align: top; }

  .directions {
    width: 62%; }

  button {
    max-width: 560px;
    padding: 1rem;
    padding-bottom: 1.75rem; } }
@media screen and (min-width: 800px) {
  .wrap {
    max-width: 960px;
    margin: auto; }

  ul {
    width: 100%; }

  nav ul a {
    border: 0; }

  header {
    padding: 1%; }

  .show-mobile {
    display: none; }

  .hide-mobile {
    display: block; }

  .hero {
    height: 460px; }
    .hero h1 {
      font-size: 5rem; }
    .hero .wrap {
      margin-right: -316.5px; }

  .rsvp {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 840px;
    margin: auto; }

  .rsvp-hero {
    height: 1100px; }

  button {
    margin-bottom: -45px; } }
