@import "reset";
@import "library";

@import url("http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic,700italic|Vidaloka");

$Josefin: 'Josefin Sans', sans-serif;
$Vidaloka: 'Vidaloka', serif;

$salmon: #FC584F;
$aqua: #2DFFFE;
$plum: #281624;

/* GENERAL */

html {
    font-size: 100%;
}

body {
    font-family: $Josefin;
    line-height: 1.5rem;
}

p {
	text-align: center;
    margin-bottom: 1.1em;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

small {
	font-size: 0.75em;
}

.hide-mobile {
	display: none;
}

.show-mobile {
	display: block;
}

ul {
    text-align: center;
    text-transform: uppercase;
    li {
        margin-bottom: 5px;
    }
    .hide-mobile {
    	display: none;
    }
}

/* SPECIFIC */

section, header {
    padding: 5%;
}

header, .when, .registry, .stay, .rsvp, button, {
    color: white;
    a {
        color: white;
        text-decoration: none;
        padding-bottom: 3px;
        border-bottom: 3px solid white;
    }
}

header, .when, .registry, .stay, button, {
    background: $salmon;
}

.stay, .rsvp {
    background: $plum;
}

.hero {
	position: relative;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    background: url('/img/hero-cart.jpg') no-repeat;
    background-size: 275%;
    background-position: 47% 15%;
    height: 300px;
    // padding: 32.5% 0;
    .amp {
        font-family: $Vidaloka;
    }
    .subhead {
        margin-top: 1em;
        display: block;
        font-size: .55em;
        letter-spacing: 0;
    }
    .wrap {
    	position: absolute;
		top: 50%;
		// right: 50%;
    	margin-top: -37px;
    	// margin-right: -174px;
    }
}

.get-there {
    background: $aqua;
}

h1, h3 {
    text-transform: uppercase;
}

h1 {
    font-size: 2.75rem;
    font-weight: 400;
    color: white;
    letter-spacing: -2.5px;
}

h2 {
    font-family: $Vidaloka;
    font-size: 1.5rem;
    transform: skew(-15deg);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .5rem;
}

h3 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

iframe {
    display: block;
    margin: .5rem auto 1rem;
    height: 360px;
    width: 100%;
}

// FORM

fieldset {
    margin: 1rem 0;
}
input[type="text"], textarea {
    height: 2.5rem;
    width: 100%;
    font-family: $Josefin;
    font-size: 1rem;
    padding: .5rem;
}

textarea {
    height: 4.5rem;
    padding: .5rem;
}

button {
    width: 75%;
    height: 2rem;
    padding: .5rem;
    display: block;
    margin: auto;
    font-family: $Josefin;
    text-transform: uppercase;
    font-size: 1rem;
    border: 2px solid white;
}

@media screen and (min-width: 450px) {
	.hero {
		h1 {
			font-size: 3.25rem;
		}
		height: 350px;
		.wrap {
			top: 50%;
			right: 50%;
	    	margin-top: -37px;
	    	margin-right: -206px;
		}
	}
}

@media screen and (min-width: 525px) {
	.hero {
		h1 {
			font-size: 3.75rem;
		}
		height: 375px;
		.wrap {
	    	margin-top: -37px;
	    	margin-right: -222px;
		}
	}
}

@media screen and (min-width: 650px) {
	header, section {
		padding: 3%;
	}

	.hero {
		h1 {
			font-size: 4.5rem;
		}
		height: 410px;
		.wrap {
	    	margin-top: -37px;
	    	margin-right: -174px;
		}
	}

	ul {
		width: 500px;
		margin: auto;
	}
	li {
		display: inline-block;
		margin: 10px;
	}

	.directions, iframe {
		display: inline-block;
	}

	iframe {
		width: 37%;
		height: 500px;
		vertical-align: top;
	}

	.directions {
		width: 62%;
	}
}

@media screen and (min-width: 800px) {
	.wrap {
		max-width: 960px;
		margin: auto;
	}

	ul {
		width: 100%;
	}

	nav {
		ul {
			a {
				border: 0;
			}
		}
	}

	.show-mobile {
		display: none;
	}

	.hide-mobile {
		display: block;
	}

	.hero {
		h1 {
			font-size: 6rem;
		}
		height: 460px;
		.wrap {
	    	margin-top: -37px;
	    	margin-right: -380px;
		}
	}
}


