@import "reset";
@import "library";

@import url("http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic,700italic|Vidaloka");

$Josefin: 'Josefin Sans', sans-serif;
$Vidaloka: 'Vidaloka', serif;

$salmon: #FC584F;
$salmon-click: darken($salmon, 30%);
$aqua: lighten(#2DFFFE, 10%);
$plum: #281624;

/* GENERAL */

* {
	transition: height, width, background .5s ease;
}

body {
    font-size: 100%;
    font-family: $Josefin;
    line-height: 1.5rem;
}

h1, h3 {
    text-transform: uppercase;
}

h1 {
    font-size: 2.4rem;
    font-weight: 400;
    color: white;
    letter-spacing: -0.07em;
}

h2 {
    font-family: $Vidaloka;
    font-size: 1.5rem;
    transform: skew(-15deg);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .5rem;
}

h3 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

p {
	text-align: center;
    margin-bottom: 1em;
    font-size: 1.125rem;
}

small {
	font-size: 0.75em;
}

section, header, footer {
    padding: 1.5em;
}

footer {
	text-align: center;
}

ul {
    text-align: center;
    text-transform: uppercase;
    li {
        margin-bottom: .4em;
    }
}

.hide-mobile {
	display: none;
}

.show-mobile {
	display: block;
}

// COLORING

header, .when, .registry, .stay, .rsvp, input[type="submit"], footer {
    color: white;
    a {
        color: white;
        text-decoration: none;
        padding-bottom: 3px;
        border-bottom: 3px solid white;
    }
}

header, .when, .registry, .stay, input[type="submit"] {
    background: $salmon;
}

.stay, .rsvp, footer {
    background: $plum;
}

// HERO SPLASH

.hero {
	position: relative;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    background: url('/img/hero-cart.jpg') no-repeat;
    background-size: 275%;
    background-position: 52% -60px;    
    height: 240px;
    .amp {
        font-family: $Vidaloka;
    }
    .subhead {
        margin-top: 1em;
        display: block;
        font-size: .55em;
        letter-spacing: 0;
    }
    .wrap {
    	position: absolute;
    	right: 0;
    	left: 0;
    	bottom: 3em;
    }
}


// HOW DO I GET THERE

.get-there {
    background: $aqua;
    a {
    	font-weight: 700;
    	color: $salmon;
    	text-decoration: none;
    	border-bottom: 3px solid $salmon;
    	&:active {
    		color: $salmon-click;
    		border-bottom: 3px solid $salmon-click;
    	}
    }
}

iframe {
    display: block;
    margin: .5rem auto 1rem;
    height: 360px;
    width: 100%;
    border: 3px solid white;
}

// RSVP FORM

.rsvp-splash {
	background: url('/img/wall-splash.jpg') no-repeat;
	background-size: 1500px;
	background-position: top center;
}

fieldset {
    margin: 1rem 0;
}

input[type="text"], textarea {
    height: 2.5rem;
    width: 100%;
    font-family: $Josefin;
    font-size: 1rem;
    padding: .5rem;
}

textarea {
    height: 4.5rem;
    padding: .5rem;
}

input[type="submit"] {
    width: 75%;
    height: 2rem;
    padding: .5rem;
    display: block;
    margin: auto;
    font-family: $Josefin;
    text-transform: uppercase;
    font-size: 1rem;
    border: 2px solid white;
    transition: all .1s ease;
    &:active {
    	transform: scale(0.975);
    }
}

// MEDIA QUERIES

@media screen and (min-width: 350px) {
	.hero {
		h1 {
			font-size: 2.7rem;
		}
		height: 290px;
	}
}

@media screen and (min-width: 450px) {
	.hero {
		h1 {
			font-size: 3.25rem;
		}
		height: 350px;
	}
}

@media screen and (min-width: 480px) {
	nav, .stay, .registry {
		a {
			border: 3px solid transparent;
			transition: all 200ms ease;
			position: relative;
			&:before {
				transition: all 200ms ease;
				content: "";
				position: absolute;
				width: 100%;
				border-bottom: 3px solid white;
				left: 0;
				bottom: 0;
				transform: rotateY(90deg);
			}
			&:hover:before {
				transform: rotateY(0);
			}
		}
	}

	.get-there {
		a {
			border: 3px solid transparent;
			transition: all 200ms ease;
			position: relative;
			&:before {
				transition: all 200ms ease;
				content: "";
				position: absolute;
				width: 100%;
				border-bottom: 3px solid $salmon;
				left: 0;
				bottom: 0;
				transform: rotateY(90deg);
			}
			&:hover:before {
				transform: rotateY(0);
			}
			&:active:before {
				color: $salmon-click;
				border-bottom: 3px solid $salmon-click;
			}
		}
	}

	.hero {
		height: 375px;
	    background-size: 150%;
	    background-position: 52% -30px;
		h1 {
			font-size: 3.75rem;
		}
	}

	.when, .stay, .registry {
		.wrap {
			max-width: 600px;
			margin: auto;
		}
	}

	li {
		display: inline-block;
		margin: 0 .8em .4em;
	}
}

@media screen and (min-width: 600px) {
	.hero {
	    background-size: 125%;
	    height: 375px;
		h1 {
			font-size: 4.5rem;
		}
	}

	ul {
		width: 500px;
		margin: auto;
	}

	input[type="submit"] {
		max-width: 560px;
		padding: 1rem;
		padding-bottom: 1.75rem;
	}
}

@media screen and (min-width: 768px) {
	.hero {
		height: 460px;
		background-size: 100%;
		background-position: 52% 12%;
		h1 {
			font-size: 5rem;
		}
		.wrap {
	    	margin-top: 20%;
		}
	}

	.wrap {
		max-width: 960px;
		margin: auto;
	}

	ul {
		width: 100%;
		li {
			margin: 0 .8em 0;
		}
	}

	nav {
		a {
			border: 0;
			padding: 0;
		}
	}

	header {
	    display: table;
	    width: 100%;
	}

	.directions, iframe {
		display: inline-block;
	}

	iframe {
		width: 37%;
		height: 500px;
		vertical-align: top;
	}

	.directions {
		width: 62%;
		padding: .5% 0 0 3%;
	}

	.show-mobile {
		display: none;
	}

	.hide-mobile {
		display: block;
	}

	.stay {
		height: 525px;
		background: url('/img/wall-with-drink.png'), $plum;
		background-repeat: no-repeat;
		background-position: 60%;
		position: relative;
		.wrap {
			max-width: 960px;
			position: relative;
		}
		.stay-block {
			width: 315px;
			margin-top: 120px;
			li {
				display: block;
				margin-bottom: .4em;
			}
		}
	}

	.rsvp {
		background-color: rgba(0,0,0,0.5);
		max-width: 840px;
		margin: auto;
	}
	
	.rsvp-splash {
		background-color: $plum;
		height: 1100px;
	}

	input[type="submit"] {
		margin-bottom: -47px;
	}
}

@media screen and (min-width: 1500px) {
	.rsvp-splash {
		background-size: 100%;
		background-position: 30%;
	}
}